<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/saved">Saved Articles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/scrape">Scrape Articles</a>
  </li>
</ul>